tp1-programacion2.xcodeproj/
tp1-programacion2.xcodeproj/project.xcworkspace/xcuserdata/
tp1-programacion2.xcodeproj/project.xcworkspace/xcuserdata/je.xcuserdatad/
.DS_Store
.depend
.o
*.o
tp1-programacion2/biblioteca.depend
tp1-programacion2/bin/
tp1-programacion2/obj/
